<div class="film">
  <div class="film-title">
    <p class="film-vertical">FILM</p>
  </div>
  <div class="content">
    <div class="view-container">
      <div class="film-container">
        <iframe src="https://player.vimeo.com/video/425557283" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <div class=visualising-epilepsy-title>
          <h2>Visualising Epilepsy</h2>
        </div>
      </div>
    </div>
    <div class="view-container">
      <div class="film-description-container">
        <div class="film-description-title">
          <h2>“What if you could experience a seizure?”</h2>
        </div>
        <div class="film-description">
          <p>A VR film promo that explores this question. Visualising Epilepsy presents two people who unknowingly enter an empty and mysterious area, where they discover a VR headset. Their curiosity takes over and they slowly discover that they are witnessing the auras of a focal and auditory seizure.</p>
          <p>When the distinction between reality and the virtual world blurs, they find themselves engulfed by the seizure as it takes control of their body. The outcome is a terrifying yet imaginative portrayal of how a seizure could appear inside your body...</p>
        </div>
      </div>
    </div>
    <div class="view-container relative">
      <div class="credit-container">
        <div class="credit-title">
          <h2>Credits</h2>
        </div>
        <div class="member-container">
          <div class="credit-member">
            <p class="credit-member-position"><b>Director</b></p>
            <p class="credit-member-name">Kezia Hessam</p>
          </div>
          <div class="credit-member">
            <p class="credit-member-position"><b>Director of Photography</b></p>
            <p class="credit-member-name">Michael Ryan Satria</p>
          </div>
          <div class="credit-member">
            <p class="credit-member-position"><b>Visual Effects Artist</b></p>
            <p class="credit-member-name">Sibel Gulbahce</p>
          </div>
          <div class="credit-member">
            <p class="credit-member-position"><b>Sound Designer</b></p>
            <p class="credit-member-name">Karl Richard</p>
          </div>
          <div class="credit-member">
            <p class="credit-member-position"><b>Performing Artists</b></p>
            <p class="credit-member-name">Thandie Van Wesenbeeck</p>
            <p class="credit-member-name">Carlo Chirila</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
