<footer>
  <div class="footer-left">
    <img src="../assets/webstar_logo.png" alt="">
  </div>
  <!--<div class="footer-center">
    <ul class="footer-menues footer-menues-left">
      <li><a href="/support/index">DONATE</a></li>
      <li class="bordered-list"><a href="/join/index">JOIN</a></li>
    </ul>
    <a href=""><img src="../assets/alterscape_collective_footer_logo.png" alt=""></a>
    <ul class="footer-menues footer-menues-right">
      <li class="bordered-list"><a href="team/index">ABOUT</a></li>
      <li><a href="/projects/index">PROJECTS</a></li>
    </ul>
  </div>-->
  <div class="footer-center">
    <ul class="footer-menues">
      <li class="list-left footer-menu-list"><a href="/support/index">SUPPORT</a></li>
      <li class="footer-menu-list bordered-list"><a href="/join/index">JOIN</a></li>
      <li class="logo-list"><a href="/"><img src="https://dl.dropboxusercontent.com/s/sj8qxffptftohb0/alterscape_collective_footer_logo.png" alt=""></a></li>
      <li class="footer-menu-list bordered-list"><a href="/team/index">ABOUT</a></li>
      <li class="footer-menu-list"><a href="/projects/index">PROJECTS</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <ul class="footer-logos">
      <li class="footer-logo"><a href="https://vimeo.com/alterscapecollective" target="_blank"><img src="../assets/vimeo_logo.png"></a></li>
      <li class="footer-logo"><a href="https://www.instagram.com/alterscape_collective/" target="_blank"><img src="../assets/instagram_logo.png"></a></li>
    </ul>
    <p>© Alterscape Collective 2020</p>
  </div>
</footer>
