<!--<main>-->
  <div class="main-content">
    <video class="home-background-video" src="assets/homepage_loop.mp4" autoplay loop muted></video>
    <div class="content main-contents">
      <div class="upper-contents">
        <div class="bubbles left-bubble">
          <a href="#"><img class="bubble-image bubble-1" src="assets/support_button.png" alt=""></a>
        </div>
        <div class="bubbles center-bubble">
          <a href="#"><img class="bubble-image bubble-2" src="assets/join_button.png" alt=""></a>
        </div>
        <div class="bubbles right-bubble">
          <a href="#"><img class="bubble-image bubble-3" src="assets/about_button.png" alt=""></a>
        </div>
      </div>
      <div class="lower-contents">
        <p>Welcome to the mind.</p>
      </div>
    </div>
  </div>
  <div class="our-vision1">
    <div class="title-right">
      <p class="our-vision-vertical">OUR VISION</p>
    </div>
    <div class="content">
      <div class="our-vision-contents">
        <h2>The virtual escapism you’ve been searching for.</h2>
        <div class="our-vision-statements">
          <p class="our-vision-statement1">Alterscape is an experiential programme dedicated to engineering interactive virtual reality play-throughs to emulate (resemble?) neurological conditions. Marrying neurology, art and technology, our simulations take the viewer on an odyssey exploring the unique functions of the human body.</p>
          <p class="our-vision-statement2">We exist to challenge human perception by questioning the extent of our present knowledge. Our goal is to deliver artistic recreations of real life experiences, educating first aid and spreading awareness to the public.<br><br>We aim to break the boundaries of medical knowledge and finally show people the real life stories.<br><br>We’re ready to show you the stories of the people, guide you to make a change and help save lives. So join us as we journey into the unknown.
          </p>
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="virtual-reality">
    <div class="title-right">
      <p class="our-vision-vertical">OUR EXPERTISE</p>
    </div>
    <div class="content">
      <div class="our-expertise-contents">
        <div class="our-expertise-content statement-left">
          <p class="our-vision-statement1">We imagine the world for you, so you no longer have to. Specialising in VR/AR design, motion graphics, 3D imagery and storytelling. Our artistry is dedicated to exploring
          </p>
        </div>
        <div class="our-expertise-content explore">
          <a href="/projects/index"><h1>EXPLORE</h1></a>
        </div>
        <div class="our-expertise-content statement-right">
          <p class="our-vision-statement2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis.
          </p>
        </div>
        <h2>We are the storytellers of the virtual world.</h2>
      </div>
    </div>
  </div>
  <div id="contact">
    <div class="title-right">
      <p class="our-vision-vertical">CONTACT</p>
    </div>
    <div class="content">
      <form action="#" method="post">
        <input class="input-email" type="text" name="email" placeholder="Email*">
        <input class="input-name" type="text" name="name" placeholder="Name*">
        <input class="input-subject" type="text" name="subject" placeholder="Subject">
        <textarea class="textarea-message" name="message" placeholder="Message..."></textarea>
        <input class="submit-send" type="submit" value="SEND">
      </form>
    </div>
  </div>
<!--</main>-->
<%= render 'shared/footer' %>
