<!--<main>-->
  <div class="main-content">
    <video class="home-background-video" src="assets/homepage_loop.mp4" autoplay loop muted></video>
    <div class="content main-contents">
      <div class="upper-contents">
        <div class="bubbles left-bubble">
          <a href="#"><img class="bubble-image bubble-1" src="assets/Button.png" alt=""></a>
        </div>
        <div class="bubbles center-bubble">
          <a href="#"><img class="bubble-image bubble-2" src="assets/Button.png" alt=""></a>
        </div>
        <div class="bubbles right-bubble">
          <a href="#"><img class="bubble-image bubble-3" src="assets/Button.png" alt=""></a>
        </div>
      </div>
      <div class="lower-contents">
        <p>Welcome to the mind...</p>
      </div>
    </div>
  </div>
  <div class="our-vision1">
    <div class="content">
      <div class="our-vision-contents">
        <h2>TITLE STATEMENT</h2>
        <div class="our-vision-statements">
          <p class="our-vision-statement1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis. </p>
          <p class="our-vision-statement2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis. </p>
        </div>
        <div></div>
      </div>
      <div class="title-right">
        <p class="our-vision-vertical">OUR VISION</p>
      </div>
    </div>
  </div>
  <div class="virtual-reality">
  </div>
  <div class="contact">
    <div class="darker-layer"></div>
    <div class="page-title">
      <p class="arrow-left">←</p>
      <p class="title-contact">CONTACT</p>
    </div>
    <form action="#" method="post">
      <input class="input-email" type="text" name="email" placeholder="Email*">
      <input class="input-name" type="text" name="name" placeholder="Name*">
      <input class="input-subject" type="text" name="subject" placeholder="Subject">
      <textarea class="textarea-message" name="message" placeholder="Message..."></textarea>
      <input class="submit-send" type="submit" value="SEND">
    </form>
  </div>
<!--</main>-->
<%= render 'shared/footer' %>
