<div class="vr-film">
  <div class="vr-project-title">
    <p class="vr-project-vertical">INTERACTIVE VR</p>
  </div>
  <div class="sub-content">
    <div class="vr-view-container">
      <div class="demystifying-epilepsy-title">
        <h2>Demystifying Epilepsy</h2>
      </div>
      <div class="webgl-content">
        <div id="unityContainer" style="width: 900px; height: 500px"></div>
        <!--<div class="footer">
          <div class="webgl-logo"></div>
          <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
          <div class="title">Epilepsy</div>
        </div>-->
      </div>
      <div class="invisible-block"></div>
    </div>
    <div class="vr-view-container">
      <div class="outro-video-container">
        <div class="outro-video-title">
          <h2>What to do in the event of seizure</h2>
        </div>
        <video src="https://dl.dropboxusercontent.com/s/1ro1oirnll0orps/outro.mp4" controls></video>
      </div>
    </div>
    <div class="vr-view-container">
      <div class="vr-description-container">
        <div class="vr-description-title">
          <h2>“The imagined world of a seizure.”</h2>
        </div>
        <div class="vr-description">
          <p>What is epilepsy? Do we really know? It is not something we can see. Or touch. Or feel. It is invisible. In the beginning, humankind described it as “the fall”, which was once considered a great rarity, and to some, a myth. Then, when man thought epilepsy divine, it was perceived as a trait given by God that we would never come to understand. </p>
          <p>But today, as much as we now know, why is it that only some of us are affected by epilepsy? It has shaped the lives of over 50 million people, making it one of the most common neurological conditions in the world. And yet, we’ve still to uncover the truth behind it.</p>
          <p>Demystifying Epilepsy uses VR to transport people into a new way of seeing. Taking stories told by real people who have endured a seizure, and reimagining them on a digital platform for you to inhabit in the first person perspective.</p>
          <p>We’re here to lead you inside the mind and uncover the unique realms of our human functions, escaping reality and welcoming you into the virtual world.</p>
        </div>
      </div>
    </div>
    <div class="vr-view-container-third">
      <div class="vr-credits-container">
        <div class="vr-credits-title">
          <h2>Credits</h2>
        </div>
        <div class="vr-credits-members-container">
          <div class="vr-credits-members vr-credits-members-upper">
            <div class="vr-credits-member vr-credits-member-left">
              <p class="vr-member-position"><b>Designer/Visual Artists</b></p>
              <p class="vr-member-name">Suki Law</p>
              <p class="vr-member-name">Cristina Rosique Gómez</p>
            </div>
            <div class="vr-credits-member vr-credits-member-right">
              <p class="vr-credits-position"><b>Sound Designer/Composer</b></p>
              <p class="vr-member-name">Eric Fabrizi</p>
            </div>
          </div>
          <div class="vr-credits-members vr-credits-members-lower">
            <div class="vr-credits-member vr-credits-member-left">
              <p class="vr-member-position"><b>Programmer</b></p>
              <p class="vr-member-name">Márton Széles</p>
            </div>
            <div class="vr-credits-member vr-credits-member-right">
              <p class="vr-credits-position"><b>Art Director</b></p>
              <p class="vr-member-name">Kezia Hessam</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
