<div class="projects">
  <div class="black-background"></div>
  <div class="projects-right">
    <p class="projects-vertical">PROJECTS</p>
  </div>
  <div class="content">
    <div class="projects-container">
      <div class="projects-content upper-content">
        <div class="project-thumbnail">
          <h2><a href="/vrgame/index">Demystifying Epilepsy</a></h2>
          <a href="/vrgame/index"><video class="projects-thumbnail-video" poster="https://dl.dropboxusercontent.com/s/gbgobfv558n4q2i/poster_thumbnail1.png" src="https://dl.dropboxusercontent.com/s/uravz9kud9eknkf/projects_thumbnail1.mp4" loop></video></a>
          <!--<img src="../assets/vr_thumbnail1.png">-->
          <p>Enter an interactive virtual reality simulation that takes you through the stages of an epileptic seizure.
          </p>
        </div>
      </div>
      <div class="projects-content lower-content">
        <div class="project-thumbnail">
          <h2><a href="/film/index">Visualising Epilepsy</a></h2>
          <a href="/film/index"><video class="projects-thumbnail-video" poster="https://dl.dropboxusercontent.com/s/k6pkrgqcj6yjqpq/poster_thumbnail2.png" src="https://dl.dropboxusercontent.com/s/s94eux9g74f8bbh/projects_thumbnail2.mp4" loop></video></a>
          <!--<img src="../assets/vr_thumbnail2.png">-->
          <p>View a film performance piece that plays with the concept of experiencing an epileptic seizure through virtual reality.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
