<div class="projects">
  <div class="title-right">
    <p class="our-vision-vertical">PROJECTS</p>
  </div>
  <div class="content">
    <div class="projects-container">
      <div class="projects-content upper-content">
        <div class="project-thumbnail">
          <h2>VR Project</h2>
          <img src="../assets/vr_thumbnail1.png">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
      <div class="projects-content lower-content">
        <div class="project-thumbnail">
          <h2>Visualising Epilepsy</h2>
          <img src="../assets/vr_thumbnail2.png">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vr-film">
  <div class="webgl-content">
    <div id="unityContainer" style="width: 900px; height: 550px"></div>
    <!--<div class="footer">
      <div class="webgl-logo"></div>
      <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
      <div class="title">Epilepsy</div>
    </div>-->
  </div>
</div>
<div class="future-project">
  <div class="title-right">
    <p class="our-vision-vertical">PROJECT TITLE</p>
  </div>
  <div class="content">
    <div class="container"></div>
  </div>
</div>
