<div class="about">
  <div class="black-background"></div>
  <div class="about-title">
    <p class="about-vertical">ABOUT</p>
  </div>
  <div class="content2">
    <div class="about-container">
      <h2 class="who-title">The collaborators</h2>
      <p class="who-description">“I am not an adventurer by choice but by fate.”</p>

      <p>With VR technology advancing every day, we now have the capability to transport ourselves to worlds that were once unknown to us.</p>

      <p>We work alongside creatives who are dedicated to exploring the human condition and testing the boundaries of our perception. And with interactive VR now allowing us to do just that, we have the ability to engineer our minds' eye to open up the possibility of stepping into the world of another.</p>

      <p>Here at Alterscape Collective, our collaborators have invested their time and expertise in making this vision come to life. Making these experiential programmes possible takes a lot of hard work, and so we feel it’s important to present them as individual artists who have their own stories to tell.</p>
    </div>
  </div>
</div>

<!----------Team introduction---------->
<!------------<div class="the-team">----------
  <div class="sub-content">
    <div class="the-team-title-section"></div>
    <div class="members-section">
      <div class="member-section">
        <div class="member-photo-section">
          <img src="">
        </div>
        <div class="member-introduction">
          <h2 class="member-name"></h2>
          <p class="member-description"></p>
        </div>
      </div>
      <div class="member-section"></div>
    </div>
  </div>
</div>--------------------予備用---------->

<div class="the-team">
  <div class="the-team-content">
    <div class="the-team-title-section">
      <h2>The team</h2>
    </div>
    <div class="members-section">
      <div class="member-section"><!----------1人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/kezia_bio_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Kezia Hessam<br><span>Founder & Art Director</span></h3>
          <p class="member-description">Welsh multidisciplinary designer practising in the fields of film production, digital media and graphic design. Focused on the functions of virtual reality and moving image in relation to the human condition. Previously working as art director for fashion brand The Giver Ltd. and brand strategist for award-winning creative agency 3 Colours Rule. Her works have been displayed in such places as French-English ALL-I-C magazine and TLA - Black Women in Tech event, London.</p>
        </div>
      </div>
      <div class="member-section-exception">
        <div class="member-photo-section-right-exception">
          <img src="../assets/mirador_collective_bio_pic.png">
        </div>
        <div class="member-introduction-left-eric">
          <h3 class="member-name">Eric Fabrizi<br><span>VR Sound Designer</span></h3>
          <p class="member-description">Eric is about to complete a BMus (Hons) in Electronic Music at Guildhall School of Music and Drama. Eric has worked as a sound engineer and improviser for Thinking Minds Project, as a performer and composer for Mirador Collective and as a theatre composer for All the Little Lights at the Camden Fringe. Eric is a co-founder and co-organiser of Guildhall Experimental Music Society as well as being the current World Record holder in Pandemic: The Board Game according to speedrun.com.</p>
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Mirador Collective<br>Cristina Rosique Gómez & Suki Law<br><span>Co-founders of Mirador Collective & VR artists</span></h3>
          <p class="member-description">A London based studio that explores a new discipline of advocatory architecture as well as the use of new technologies in storytelling. It is co-founded by two non-conforming individuals, a Hong Konger with a degree in Law, and a Spaniard with a background in Architecture. Our work has been shown at the Barbican Gallery in London, at Cyberia – New Media Playground exhibition by TIFA Working Studio in India, and our #VirtualSurgery exhibition.</p>
        </div>
      </div>
      <!-------------------------------説明横置きのやつ--------------------------
      <div class="member-section-exception">
        <div class="member-photo-section-center">
          <img src="../assets/mirador_collective_bio_pic.png">
        </div>
        <div class="member-introduction-left-eric">
          <h3 class="member-name">Eric Fabrizi<br><span>VR Sound Designer</span></h3>
          <p class="member-description">Eric is about to complete a BMus (Hons) in Electronic Music at Guildhall School of Music and Drama. Eric has worked as a sound engineer and improviser for Thinking Minds Project, as a performer and composer for Mirador Collective and as a theatre composer for All the Little Lights at the Camden Fringe. Eric is a co-founder and co-organiser of Guildhall Experimental Music Society as well as being the current World Record holder in Pandemic: The Board Game according to speedrun.com.</p>
        </div>
        <div class="member-introduction-right-mirador">
          <h3 class="member-name">Mirador Collective<br>Cristina Rosique Gómez & Suki Law<br><span>Co-founders of Mirador Collective & VR artists</span></h3>
          <p class="member-description">A London based studio that explores a new discipline of advocatory architecture as well as the use of new technologies in storytelling. It is co-founded by two non-conforming individuals, a Hong Konger with a degree in Law, and a Spaniard with a background in Architecture. Our work has been shown at the Barbican Gallery in London, at Cyberia – New Media Playground exhibition by TIFA Working Studio in India, and our #VirtualSurgery exhibition.</p>
        </div>
      </div>
      ----------------------------------説明横置きのやつ------------------------------->
      <div class="member-section"><!----------4人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/shun_bio_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Shunpei Tanzawa<br><span>Web Application Engineer</span></h3>
          <p class="member-description">Shun is a freelance website developer from Japan who specialises in front-end development (HTML5, CSS3, Javascript, JQuery and Ruby on Rails) and is currently in the process of teaching himself the ins and outs of back-end development. He has a keen interest in programming, as well as language learning and video editing, and hopes to start his own website development service (Webstar) in the near future.</p>
        </div>
      </div>
      <div class="member-section"><!----------5人目---------->
        <div class="member-photo-section-right">
          <img src="../assets/sara_bio_pic.png">
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Sara Hessam<br><span>Website & Motion Graphic Designer</span></h3>
          <p class="member-description">Having graduated from the University of South Wales with a BA degree in Animation Direction and Production, Sara has since gone on to explore a variety of creative mediums, mostly within design and film. This journey is what has ultimately led her to take up an interest in website design, where she seeks to apply her skills whilst creating websites that visually enhance the user experience.</p>
        </div>
      </div>
      <div class="member-section"><!----------6人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/pau_bio_pic.jpeg">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Pau Geis<br><span>3D artist & Graphic designer</span></h3>
          <p class="member-description">Visual artist originally from Barcelona, now based in London, whose primary work focuses on visual design, photography and video. Through his creativity, it is always crucial to explore all mediums of design in hopes of finding new ways of communicating to the world. His most recent design work was presented at Pasaje Montoya in Barcelona.</p>
        </div>
      </div>
      <div class="member-section"><!----------7人目---------->
        <div class="member-photo-section-right">
          <img src="../assets/polina_bio_pic.jpeg">
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Polina Zinziver<br><span>3D Artist</span></h3>
          <p class="member-description">Polina Zinziver is a 3D artist from St. Petersburg. She works with 3D and generative graphics, explores utopian concepts and the positive impact of media art and new technologies on the mental and physical health of a person.</p>
        </div>
      </div>
      <div class="member-section"><!----------8人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/bethany_bio_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Bethany Doughty<br><span>3D Artist, Production Designer & Draftsman</span></h3>
          <p class="member-description">Originally from Lancashire. Bethany graduated with a degree in BA Set Design for Screen at Wimbledon College of Arts (UAL).  Here she learnt the invaluable skills of hand and digital drafting, model making and digital world building. Nature has shaped her artistry through colour and form, becoming the foundation of her design process. Bethany’s passion for production design is heightened with its endless possibilities for visual storytelling.</p>
        </div>
      </div>
      <div class="member-section"><!----------9人目---------->
        <div class="member-photo-section-right">
          <img src="../assets/jordan_bio_pic.png">
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Jordan Powell<br><span>Sound Designer</span></h3>
          <p class="member-description">Jordan is a passionate sound designer and has been uploading & sharing his sounds on Freesound.org since 2013. Sounds that he uploads mostly consist of the electronica/downtempo/lofi genre and have been featured in a small number of TV shows, documentaries, and shorts stories on Youtube and as well with aspiring musicians. He mostly self taught himself on making sounds and by watching many tutorials online to help shape the sound design style he has today. Jordan is also a Freesound.org sound moderator and helps out with making sure the right sounds get on the site. When all is done, he just wishes to create that next interesting sound that hopefully will be incredibly useful to whoever stumbles upon it.</p>
        </div>
      </div>
      <div class="member-section"><!----------10人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/orange_hut_logo_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">The Orange Hut<br>Karl Richard<br><span>Sound Designer</span></h3>
          <p class="member-description">The Orange Hut are interested in developing novel methodologies and tools for sound creation and composition. Having a strong background in empirical research, they take inspiration from scientific and mathematical concepts to create sonic arrangements and sound art exploring abstract ideas. They believe that art and science enable each other to deepen their respective expressions of reality. Collaborating with artists and multimedia companies to create sound that powerfully and aesthetically compliments other artists’ vision, methodically adapting to each of their unique client’s needs through an immersive approach to provide creative, intuitive and innovative sonic elements for any brief.</p>
        </div>
      </div>
      <div class="member-section"><!----------11人目---------->
        <div class="member-photo-section-right">
          <img src="../assets/michael_bio_pic.png">
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Michael Ryan Satria<br><span>Director & Freelance Videographer</span></h3>
          <p class="member-description">Michael Ryan Satria is an Indonesian-born filmmaker passionate in creating unique character-driven stories with his own peculiar twist through writing, directing and editing. As a wholly self-taught filmmaker, and inspired by his love for cinema, Michael continues to develop and challenge himself in crystallizing innovative stories that immerse viewers and illuminate life. Michael also takes great pleasure in helping and working with highly passionate individuals, especially those willing to push beyond expectations.</p>
        </div>
      </div>
      <div class="member-section"><!----------12人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/sibel_bio_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Sibel Gulbahce<br><span>Motion Graphic Designer</span></h3>
          <p class="member-description">Motion Graphics graduate from Ravensbourne University of London. My degree in Motion graphics at Ravensbourne allowed me to indulge my curiosity in graphic design, along with gaining a wide range of skills and understanding of motion. My whole journey has been exceptionally captivating and cherishing, especially when it comes to being able to make my graphics move.</p>
        </div>
      </div>
      <div class="member-section"><!----------13人目---------->
        <div class="member-photo-section-right">
          <img src="../assets/ambre_bio_pic.jpeg">
        </div>
        <div class="member-introduction-left">
          <h3 class="member-name">Ambre Kerleau<br><span>Marketing Expert</span></h3>
          <p class="member-description">Ambre Kerleau is a communications strategist based in Montreal, Canada. Passionate about travelling, she used her studies in France to specialize in Digital Marketing and Communication, which allowed her to take up internships abroad. Soon after, she started to work for brands she loves with strong environmental and social values. On a daily basis, she handles different missions and clients who push her to surpass herself.</p>
        </div>
      </div>
    </div>
    <!--ここにContributors-title-contentを入れる-->
    <div class="members-section">
      <div class="contributors-title-section">
        <h2>Contributors</h2>
      </div>
      <div class="member-section"><!----------14人目---------->
        <div class="member-photo-section-left">
          <img src="../assets/rachel_bio_pic.png">
        </div>
        <div class="member-introduction-right">
          <h3 class="member-name">Rachel Lin<br><span>Voice Actress</span></h3>
          <p class="member-description">Rachel Lin is a professional actress with 10 years experience in the industry. Recent credits include BBC's 'Casualty', 'EastEnders' and a major role in upcoming feature film 'The Unfamiliar' due for UK and US release later this year. She is extremely driven and passionate about Film, and it is her goal to make powerful work that impacts its audience emotionally as well as entertaining them.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
