<div class="about">
  <div class="title-right">
    <p class="our-vision-vertical">ABOUT</p>
  </div>
  <div class="content2">
    <div class="about-container">
      <h2 class="who-title">WHO ARE WE</h2>
      <p class="who-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis.</p>
    </div>
  </div>
</div>
