<div class="join">
  <div class="join-container">
    <div class="join-title">
      <p class="join-vertical">JOIN</p>
    </div>
  </div>
  <div class="join-content">
    <div class="collaborate-with-us">
      <h2>Collaborate with us!</h2>
      <p>We are still a giant leap away from uncovering who we are and why we exist. We believe that our current knowledge doesn’t have to be limited to scientific study; creative technology has the potential to expand our understanding in hitherto undiscovered ways.</p>
    </div>
  </div>
</div>

<div class="why">
  <div class="why-content">
    <div class="why-container">
      <h2>Why</h2>
      <p>We at Alterscape believe that collaboration is the best method to achieving the most precise and greatest results on any project. In the near future, we are getting ready to set up public immersive VR events and continuing our research into programming experiential play-throughs for the other 600 neurological conditions in the world.</p>
      <p>With teamwork comes more opportunities and endless possibilities. Our work is not literal, but it is daring. So feel no uncertainty in connecting with us as we endeavour to experiment and reach new heights.</p>
    </div>
  </div>
</div>

<div class="get-in-touch">
  <video class="get-in-touch-video" src="../assets/get_in_touch_bg.mp4" autoplay loop muted></video>
  <div class="dark-layer"></div>
  <div class="get-in-touch-content">
    <div class="get-in-touch-container">
      <h2>Enter our world</h2>
      <p>This is your opportunity to create because you can, and not because you’ve been asked to. Fill in our contact form or DM us on Instagram to join the experience.</p>
    </div>
    <div class="contact-button-container">
      <a href="/#contact"><p>Contact</p></a>
      <a href="https://www.instagram.com/alterscape_collective/" target="_blank"><p>Instagram</p></a>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
