<div class="support">
  <div class="title-right">
    <p class="our-vision-vertical">SUPPORT</p>
  </div>
  <div class="content">
    <div class="container">
      <h2 class="donate">Donate</h2>
      <div class="donate-container">
        <div class="donate-description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="lower-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <a href="#">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bettering-the-community">
  <div class="title-right">
    <p class="our-vision-vertical">SUPPORT</p>
  </div>
  <div class="content"></div>
</div>
<div class="our-charities">
  <div class="title-right">
    <p class="our-vision-vertical">OUR CHARITIES</p>
  </div>
  <div class="content"></div>
</div>
